:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "sidebar section section section"
    "footer footer footer footer";
  grid-gap: 0.1rem;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  background: seagreen;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding) 2px 2px 5px;
}
.nav-box {
  display: flex;
  justify-content: space-between;
}
.nav-box p {
  font-size: xx-large;
  margin: 10px 2px 1px 10px;
  color: rgb(14, 68, 38);
}

.nav-box img {
  width: 60px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  height: min-content;
}
.links a img {
  width: 35px;
  margin: -10px -5px;
}

main {
  background: #2e3541;
  color: white;
  grid-area: main;
  font-weight: normal;
  font-size: 14px;
  border-radius: var(--main-radius);
  padding: var(--main-padding) 20px 5px 20px;
}
main span {
  font-size: large;
}

section {
  grid-area: section;
  border-radius: var(--main-radius);
  padding: 1px 10px 2px 5px;
  background-color: #2e3541;
}
.references {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: white;
}
.references h2 {
  width: 80%;
  margin: 15px auto 0;
  text-align: center;
  color: #4c658d;
}
.references p {
  width: 80%;
  margin: auto;
  font-size: large;
  font-weight: 700;
}
.references-box {
  font-weight: 200;
  height: 100%;
  width: 48%;
  margin: 10px auto;
}
.references-box li {
  list-style: circle;
}

#sidebar {
  background: #2e3541;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: var(--main-padding) 10px 5px 10px;
  color: white;
  font-size: 14px;
}
.profile-img {
  width: 80%;
  border-radius: 50%;
  margin: 5% 10% 4px;
}

#content1 {
  background: #253247;
  color: white;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 14px;
}
#content1 a {
  color: white;
  background-color: yellowgreen;
  font-size: 14px;
  width: 80%;
  margin: 10px auto;
  padding: 2px;
  border-radius: 5px;
}

#content2 {
  background: #253247;
  color: white;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 13px;
}
#content2 a {
  color: white;
  background-color: yellowgreen;
  font-size: 14px;
  width: 80%;
  margin: 10px auto;
  padding: 2px;
  border-radius: 5px;
}

#content3 {
  background: #253247;
  color: white;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 14px;
}
#content3 a {
  color: white;
  background-color: yellowgreen;
  font-size: 14px;
  width: 80%;
  margin: 10px auto;
  padding: 2px;
  border-radius: 5px;
}

#content4 {
  background: #253247;
  color: white;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 14px;
}

#content5 {
  background: #253247;
  color: white;
  grid-area: content5;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 14px;
}

#content6 {
  background: #253247;
  color: white;
  grid-area: content6;
  border-radius: var(--main-radius);
  padding: 5px 6px 4px 6px;
  font-size: 14px;
}

footer {
  display: flex;
  background: #2e3541;
  color: white;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: 20px 0 5px 0;
}

footer p {
  font-size: large;
}

footer span {
  color: #4c576b;
}

footer a {
  color: #66748a;
}

footer button {
  background-color: #2e3541;
  border: none;
}

footer button img {
  width: 50px;
  height: 50px;
  padding: 1px 30px 1px 1px;
  /* background-color: #2e3541; */
}

.copyrights {
  margin: auto;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "section"
      "footer";
  }
  .references {
    display: flex;
    /* flex-direction: column; */
    text-align: left;
  }

  main {
    padding: var(--main-padding) 10px 5px 10px;
  }
}
